body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 2fr;
    align-content: stretch;
    justify-content: stretch;
    align-items: center;
    justify-items: center;
}

#header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: stretch
}

#buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.answer_button {
    background-color: #a259ff;
    color: white;
    border: none;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
}